@mixin font-rem($size) {
  font-size: #{$size / $font-size}rem;
}
//  @include font-rem(32);

@mixin max-row($row) {
  display: -webkit-box;
  -webkit-line-clamp: $row;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

//  @include max-row(9);

//-------------------------------

@mixin media-breakpoint-up($width) {
  @media (min-width: ($width + 1)) {
    @content;
  }
}

@mixin media-breakpoint-down($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin media-breakpoint-between($min-width, $max-width) {
  @media (min-width: ($min-width + 1)) and (max-width: $max-width) {
    @content;
  }
}

//-------------------------------
@mixin absolute-center {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

@mixin marker($symbol, $size) {
  content: $symbol;
  position: absolute;
  left: calc($size / 2 * -1);
}

@mixin list-item-style {
  padding: 5px 0 5px 10px;
  position: relative;
}
