$min-wrapper: 319px;
$max-wrapper: 1160px;

$size-padding: 20px;
$min-size-padding: 10px;

$xxs: 320px;
$xs_middle: 419px;
$xs: 575px;
$sm_middle: 612px;
$sm: 767px;
$md_middle: 867px;
$md: 991px;
$lg_middle: 1099px;
$lg: 1199px;
$xl_middle: 1299px;
$xl: 1440px;
$xxl: 1920px;

//----------- COLORS -------------
$background-section: #fcfcfc;
$color-dark-grey: #252525;
$color-dark-grey-hover: #545454;
$color-grey: #555;
$color-grey-light: #e1e1e1;
$color-background: #edeef0;

//------------- FONTS ------------

$font: Verdana, Arial, sans-serif;
$font-title: "arial black", "britannic bold", "impact";
$font-code: consolas, monospace;
$font-quote: sans-serif, Arial, Verdana;

$font-size: 16;
//-------------------------------
