.spoiler-details {
  $root: &;

  font-family: $font;
  @include font-rem(36);

  &__title {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 35px;
    color: $darkTeal;
    line-height: 120%;
    list-style-type: none;
    background-color: $white;
    border-bottom: 1px solid $grey2;
    cursor: pointer;
    transition: color 0.3s ease;
    @include smooth-offset(padding-top, 20, 21, 19, 24, 29);
    @include smooth-offset(padding-bottom, 20, 23, 19, 24, 30);

    &:focus {
      z-index: 2;
      outline-color: $dark-grey-hover;
      outline-offset: 2px;
    }

    &::before,
    &::after {
      position: absolute;
      width: 2px;
      background-color: $navyBlue;
      transition: transform 0.3s ease;
      content: '';
      @include smooth-offset(height, 16, 20, 16, 20, 28);
      @include smooth-offset(right, 8, 10, 8, 10, 14);
    }

    &::before {
      transform: rotateZ(90deg);
    }

    &::after {
      transform: rotateZ(0deg);
    }

    #{$root}[open] & {
      color: $navyBlue;
      border-bottom: 0;

      &::before {
        transform: rotateZ(45deg);
      }

      &::after {
        transform: rotateZ(-45deg);
      }
    }
  }

  &__wrapper-content {
    @include smooth-offset(padding-bottom, 20, 24, 24, 30, 40);

    border-bottom: 1px solid $grey2;
  }

  &__text {
    color: $black2;
    @include font-rem(20);

    line-height: 150%;
    @include smooth-offset(width, 327, 612, 640, 840, 942);

    @include media-breakpoint-down('sm') {
      @include font-rem(30);
    }
  }
}
