.footer {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  min-height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: #{$font-size}px;
  background-color: #333;
}
